name: Release Dev Docker Images

on:
  push:
    paths:
      - '**/dev.yml'
      - 'Dockerfile.dev'

env:
  DOCKER_USERNAME: seepine

jobs:
  build-dev:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Build and push dev
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.dev
          platforms: |
            linux/arm64
            linux/amd64
          pull: true
          push: true
          no-cache: true
          tags: |
            ${{ env.DOCKER_USERNAME }}/ubuntu:dev
